@media (min-width: 1024px) {
  .top-menu {
    flex-direction: row;
    top: 0;
    margin: 0 auto;
    width: 100%;
    bottom: initial;
    background-color: #fff;

    &__logo,
    &__link {
      height: 80px;
    }

    &__logo {
      width: 220px;
    }  
  }

  .content {
    padding-top: 80px;
  }
}
