[data-type="taking-care"] {
  background-image: url(#{$baseUrl}asset/image/hero-slider/pflegeperle10-scaled.jpg);
}

[data-type="people-getting-informed"] {
  background-image: url(#{$baseUrl}asset/image/hero-slider/people-getting-informed.jpg);
}

.hero {
  // padding-top: 46.57608695652174%;
  padding: 20rem 2.5rem 10rem;
  background-position: center center;
  background-size: cover;
  text-align: center;

  display: flex;
  flex-direction: column;

  // & + .sprijin-competent {
  //   margin-top: -5rem;
  // }

  &__title,
  &__subtitle {
    margin: 1rem auto;
    padding: 1rem 2rem;
    display: inline-block;
    background-color: rgba($color: #fff, $alpha: 0.75);
    border-radius: 1rem;
  }
}
