extend ../_component/layout/base

block config
  - var pageData = data['uber-uns']

block awesome-content
  p Betreuung Zuhause sollte gut organisiert sein. Denn im Bereich Pflege sollten Ihnen kompetente und seriöse Ansprechpartner zur Seite stehen, damit Sie wichtige Entscheidungen gut vorbereitet treffen können und mit dieser Aufgabe nicht allein nicht alleine gelassen werden. 
  p Pflegebedürftigkeit kann plötzlich passieren. Ein Schlaganfall, oder man kommt als Pflegefall aus der Rehabilitation zurück und plötzlich verändert sich alles. Auf einmal beschäftigen Sie sich mit diversen Fragen:

  p Brauche ich eine 24 h Betreuung oder pflege ich selbst an erster Stelle?
  p Welche finanziellen Mittel gibt es und wie kann ich diese beantragen?
  p Gibt es eine geeignete Ansprechperson für all meine Fragen?
  p Wo kriege ich geeignete Pflegeprodukte her?
  img(src=`${baseUrl}asset/image/young-woman-points-out-something-to-the-old-woman.jpg`, alt="")

  p Zusätzlich müssen dann diese und andere Fragen sehr rasch in Erfahrung gebracht wereden.

  p Die PflegePerle hat es sich zur Aufgabe gemacht, Menschen die vor solch einer Hürde im Leben gestellt werden, mit Rat und Tat zur Seite zu stehen. Wir wollen Angehörigen und zu Betreuende mit einem Rundumpflege Paket das Leben erleichtern, um eine langfristig erfolgreiche Betreuung zu ermöglichen. Die PflegePerle bietet erste Anlaufstelle, für Angehörige, die sich Informationen über den Ablauf einer 24 Stunden Betreuung holen wollen.
  h2 Unsere Philosophie
  p Der Mensch selbst hat uns schon jeher fasziniert. Denn jeder Mensch hat seine eigenen charakteristischen Eigenschaften und muss dementsprechend individuell betreut werden. 

  p In der 24 Stunden Pflegedienst Vermittlung, ist uns vor allem die Nachbetreuung ein wichtiger Aspekt. Denn eine lösungsorientierte Nachbetreuung ist nach unserer Erfahrung das A und O in diesem Bereich.

  p Unsere Präsenz soll Ihnen die Sicherheit verschaffen die Sie brauchen. 

  p So bringen wir wertvolle Tipps wie ein harmonisches miteinander Leben, von Zu Betreuenden und PersonenbetreuerInnen, geschaffen werden kann.

  h2 Unser Team

  .profile__wrapper
    .profile__name Bakk. Komm. Alexandra Lidia Idriceanu
    .profile__title Inhaberin von "PflegePerle"
    .profile__info Was mir an einer durchgehenden Betreuung wichtig ist, sind Menschen an meiner Seite zu haben denen ich vertrauen kann. Menschen die ich in weiterer Folge an andere weitervermitteln darf. Pflege ist eine sehr menschennahe Angelegenheit die mit Empathie behandelt werden
  - var heroType = 'people-getting-informed'
  include ../_component/hero/hero

  - var team = pageData.team 
  include ../_component/team/team
