.ordered-list
  .ordered-list__title= heroInfo.title
  .ordered-list__body
    .custom-counter
      each item in heroInfo.list
        .count-me 
          div= item.title 
          each secondItem in item.infoList
            p= secondItem
  .ordered-list__image(
    style=`background-image: url(${heroInfo.imagePath})`
  )
