.info-banner
  //- pre= JSON.stringify(infoBanner, null, 2)
  each info in infoBanner
    .info-banner__icon(class=`bb-${info.icon}`)
    .info-banner__title= info.title
    .info-banner__description(
      data-left=info.valueLeft
      data-right=info.valueRight
    )= info.valueLeft === 'office' ? '@' : ''

.content-center
  .arrow-down Buchen Sie JETZT einen Onlinetermin!

<!-- Calendly badge widget begin -->
<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/pflegeperle/jetzt-kostenloses-erstgesrpach-vereinbaren" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->

//- <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
//- <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
//- <script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/pflegeperle/jetzt-kostenloses-erstgesrpach-vereinbaren', text: 'Schedule time with me', color: '#00a2ff', textColor: '#ffffff', branding: true }); }</script>
<!-- Calendly badge widget end -->
