$icomoon-font-family: "pp" !default;
$icomoon-font-path: "fonts" !default;

$pp-chat: "\e906";
$pp-info: "\e903";
$pp-phone: "\e904";
$pp-home: "\e905";
$pp-people: "\e902";
$pp-stethoscope: "\e900";
$pp-wheelchair: "\e901";

