extend ../_component/layout/base

block config
  - 
    var pageData = data['was-wir-tun']
    var {
      contactInfoBanner: infoBanner,
      pageOrderedListWithImage: heroInfo,
    } = pageData


block awesome-content
  //- pre= JSON.stringify(pageData.pageTwoSideStoryList, null, 2)
  each story in pageData.pageTwoSideStoryList
    .sprijin-competent
      .image-content
        div(class=`image-content__background-${story['content__background-image']}`)
        .image-content__text
          h1.content__title= story.content__title

          each paragraph in story.content_description
            p.content__paragraph=paragraph
          .content__divider
            .bb-contact
          .content__email @

  -
    var team = pageData.imageListWithDescription

  .was-wir-tun
    include ../_component/team/team
