extends _component/layout/base

block config 
  -
    var pageData = data.landing

block awesome-content
  - var heroType = 'taking-care'
  include _component/hero/hero
  each story in data.landing.pageTwoSideStoryList
    .sprijin-competent
      .image-content
        div(class=`image-content__background-${story['content__background-image']}`)
        .image-content__text
          h1.content__title= story.content__title
          h2.content__subtitle= story.content__subtitle
          each paragraph in story.content_description
            p.content__paragraph=paragraph
          .content__divider
            .bb-contact
          .content__email @
  .link-hero__wrapper
    .link-hero__item
      .bb-wheelchair_pickup
      a.link-hero__link(href="https://pflegeperle.at") Vermittlung von selbstständigen 24 Stunden BetreuerInnen
      p.link-hero__description Wir sind ein kompetenter Partner wenn sie auf der Suche nach einer geeigneten Betreuungskraft sind. 
    .link-hero__item
      .bb-stethoscope
      a.link-hero__link(href="https://pflegeperle.at") Wir verstehen uns als einen erfahrenen regionalen Partner
      p.link-hero__description Wir sind eine kleine aber feine Vermittlungsagentur die in Wien rund um Wien tätig ist
  - var heroType = 'people-getting-informed'
  include _component/hero/hero

  - 
    var {
      contactInfoBanner: infoBanner,
      pageOrderedListWithImage: heroInfo,
    } = data.landing

  include _component/info-banner/info-banner
  include _component/ordered-list/ordered-list
