extends _component/layout/base

block awesome-content
  include _component/hero/hero
  .sprijin-competent
    .image-content
      .image-content__background
      .image-content__text
        h1.content__title Kompetente und professionelle Betreuung
        h2.content__subtitle Wir vermitteln 24 Stunden Betreuerinnen
        p.content__paragraph Die PflegePerle hat es sich zur Aufgabe gemacht, pflegebedürftigen Menschen die Möglichkeit zu geben, in ihren eigenen vier Wänden leben zu können.
        p.content__paragraph Dies geschieht durch eine häusliche Rundumbetreuung, mit Hilfe von erfahrenen, osteuropäischen Betreuerinnen.
        p.content__paragraph Neben der Vermittlungstätigkeit, verstehen wir uns als Berater in Sachen Pflege und stehen auch nach der Vermittlung der Betreuungskräfte, mit Rat und Tat zur Seite.
        .content__divider
          .pp-chat
        .content__email @
  .link-hero__wrapper
    .link-hero__item
      .pp-wheelchair
      a.link-hero__link(href="codetap.academy") Vermittlung von selbstständigen 24 Stunden BetreuerInnen
      p.link-hero__description Wir sind ein kompetenter Partner wenn sie auf der Suche nach einer geeigneten Betreuungskraft sind. 
    .link-hero__item
      .pp-stethoscope
      a.link-hero__link(href="codetap.academy") Wir verstehen uns als einen erfahrenen regionalen Partner
      p.link-hero__description Wir sind eine kleine aber feine Vermittlungsagentur die in Wien rund um Wien tätig ist
